*{
    margin      : 0;
    padding     : 0;
    font-family : Verdana, sans-serif;
    box-sizing  : border-box;
}

html
{
    scroll-behavior: smooth;
}

body
{
    background-color: #080808;
    color           : #fff;
}

#header
{
    width   : 100%;
    height  : 100vh;
    background-image: url(img/Cover.png);
    background-size: cover;
    background-position: center;
}

.container
{
    padding: 10px 10%;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo
{
    display: block;
}

nav ul li
{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a
{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    position: relative;
}

nav ul li a::after
{
    content: '';
    width: 0;
    height: 3px;
    background: #a4f9ff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.56s;

}

nav ul li a:hover::after
{
    width: 100%;
}

.header-text
{
    margin-top: 20%;
    font-size: 20px;
}

.header-text h1
{
    font-size: 50px;
    margin-top: 20px;
    color: khaki;
}

.header-text p span
{
    color :aqua;
    font-weight: bold;
}

/* about */
#about
{
    padding: 80px 0;
    color: rgb(255, 255, 255);

}

.row
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1
{
    flex-basis: 35%;
}

.about-col-1 img
{
    width: 100%;
    border-radius: 15px;

}

.about-col-2
{
    flex-basis: 60%;
    text-align: justify;
    line-height: 1.25;

}

.sub-title
{
    font-size: 45px;
    font-weight: 600;
    color: rgb(181, 150, 255);
}

.tab-titles
{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links
{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

}

.tab-links::after
{
    content: '';
    width: 0;
    height: 3px;
    background: #a4f9ff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after
{
    width: 50%;
}

.tab-contents ul li
{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span
{
    color: yellow;
    font-size: 14px;
}

.tab-contents
{
    display: none;
}

.tab-contents.active-tab
{
    display: block;
}


/* ----- GALLERY -----*/

#gallery
{
    padding: 30px 0;
}

.gallery-list
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 30px 20px;
    margin-top: 50px;
}

.image
{
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.image img
{
    width: 100%;
    display: block;
    transition: transform 0.5s ease;
}

.image:hover img
{
    transform: scale(1.1);
   
}

.image p
{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0), #2c0c44);
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 9px;
    transition: height 0.5s;
}

.image:hover p{
    height: 40%;
}




/* --------- BLOG ------- */
#blog
{
    padding: 50px 0;
}

.blog-img
{
    flex-basis: 40%;
    margin-top: 25px;
    height: 400px;
}

.blog-img-item{
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.blog-tabs
{
    margin-top: 25px;
    flex-basis: 55%;
    background-color: #fdeaff;
    border-radius: 11px;
    height: 400px;
}

.blog-button{
    padding : 10px;
    border: none;
    font-size: 13px;
    background-color: #332153;
    cursor: pointer;
    transition: all .5s linear;
    color: #fff;
}

.btn-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.blog-button:nth-child(1){
    border-top-left-radius: 10px;
}

.blog-button:nth-child(3)
{
    border-top-right-radius: 10px;
}

.blog-button:hover:not(.live){
    background-color: #ababab;
}

.blog-content{
    padding: 20px;
    align-items: center;
}

.content{
    margin-top: 15px;
    display: none;
    font-size: 13px;
    text-align: justify;
    color: #000000;
    line-height: 1.5;
}

.blog-img-item.live{
    display: block;
}

.content.live{
    display:block;
}

.blog-button.live{
    color: #000000 ;
    background-color: #fdeaff;
}





/* Blabla */

.contact-left{
    flex-basis: 30%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #fad8ff;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #fad8ff;
    transform: translateY(-5px);
}

.quotes{
    font-size: 15px;
    text-align: left;
    margin-top: 20px;
    margin-right: 15px;
    line-height: 1.5;
}

.quotes p{
    color: #ffffff;
    margin-top: 0;
    margin-left: 10px;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.quotes .quoteleft{
    text-align: left;
    color: #fad8ff;
    font-weight: 900;
    margin-bottom: -20px;
}
.quotes .quoteright{
    text-align: right;
    color: #fad8ff;
    font-weight: 900;
    margin-top: -20px;
}


.quotes .author{
    text-align: right;
    font-style: italic;
    color: #fdeaff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border : 1px solid #fad8ff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    background: #080808;
    transition: background 0.5s;
}

.btn:hover{
    background: #fad8ff;
    color: #080808;
}

.btn.btn2
{
    display: inline-block;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border : 0;
    outline: none;
    background: #28142c;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 13px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 50px;
    font-size: 13px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0px;
    background: #332153;
    font-weight: 300;
    margin-top: 20px;

}

